@import "./styles/navbar.css";
@import "./styles/hero.css";
@import "./styles/about.css";
@import "./styles/products.css";
@import "./styles/benefits.css";
@import "./styles/philosophy.css";
@import "./styles/hairducation.css";
@import "./styles/testimonials.css";
@import "./styles/faq.css";
@import "./styles/footer.css";
@import "./styles/whatsappbutton.css";
@import "./styles/animations.css";





:root {
  --primary-green: #013d01;
  --light-green: #96fc92;
  --gold: #D4AF37;
  --cream: #F8F3E7;
  --dark-green: #0b4b0b;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  background:#051103;
}

.page-background {
  background-color: #051103;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
